<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>

<div class="container-fluid bg-dark">
    <div class="row p-5 h-100 ">
        <div class="col-md-10">
            <h1 class="text-success underlined border-bottom"><i>B I T C O I N % P A R S E R</i></h1>

        </div>
        <div class="col-md-2 text-right">
                <a href="/login" class="btn btn-success m-1 w-50 ">Sign in</a>
                <a href="/register" class="btn btn-primary m-1 w-50">Sign up</a>
        </div>
    </div>
</div>

</body>
</html>